APP_ENV=local
APP_NAME=Portal Academico
APP_URL=http://localhost/portal-academico
APP_TIMEZONE=Atlantic/Cape_Verde
INSTITUTION_NAME=Instituto Horizonte
INSTITUTION_SHORT_NAME=Horizonte
INSTITUTION_EMAIL_DOMAIN=academico.example.test
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=portal_academico
DB_USER=root
DB_PASSWORD=
